body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #f0f0f0;
    margin: 0;
}

#app {
    /* display: flex; */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#controls {
    margin-right: 100px;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    font-size:x-large;
}

.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: yellow;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke:green;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
}

.base-timer__label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 48px;
    text-align: center;
}